<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>صفحه اصلی - مانا الکترونیک</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.rtl.min.css"
      integrity="sha384-MdqCcafa5BLgxBDJ3d/4D292geNL64JyRtSGjEszRUQX9rhL1QkcnId+OT7Yw+D+"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css"
      rel="stylesheet"
    />
    <link href="./assets/styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg">
        <div class="container-sm headIn">
          <div class="header-right">
            <div class="logo">
              <img
                src="assets/images/logo/1.svg"
                alt="Icon"
                class="represent-icon"
              />
            </div>
            <div class="contact-info dirLTR">
              تجهیزات امنیتی و نظارت تصویری<br />
              <small>021-</small> <span class="color1">91300930</span>
            </div>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a href="./services.html" class="menu-item">خدمات</a>
              <a href="./blog.html" class="menu-item">وبلاگ</a>
              <a href="./about.html" class="menu-item">درباره ما</a>
              <a href="./contact.html" class="menu-item">ارتباط با ما</a>
              <a href="#" class="represent-btn">
                <span>اعطای نمایندگی</span>
                <span class="icon">
                  <img
                    src="assets/images/app-icons/ph_medal.svg"
                    alt="Icon"
                    class="represent-icon"
                  />
                </span>
              </a>

              <a href="./login-step1.html" class="panel-btn">
                <span class="icon">
                  <img
                    src="assets/images/app-icons/user-circle-fill.svg"
                    alt="Profile Icon"
                    class="profile-icon"
                  />
                </span>
                پنل همکاران
              </a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="security-section container-sm">
        <div class="security-container">
          <div class="security-image">
            <img src="assets/images/img/Cameras1.png" alt="Security Cameras" />
          </div>

          <div class="security-content">
            <div class="Inner">
              <div class="brand-logos">
                <img src="assets/images/img/Isolation_Mode.png" alt="UTEC" />
                <img src="assets/images/img/Layer_1.png" alt="DEHU" />
                <img src="assets/images/img/Layer_2.png" alt="Hi-Link" />
              </div>

              <div class="security-text">
                <span>امنیت</span>
                <span class="highlight">انتخابی</span>
                <span>است</span>
              </div>

              <div class="action-btn">
                <a href="#">
                  مانا شوید
                  <img
                    src="assets/images/app-icons/si_arrow-right-fill.png"
                    alt="Hi-Link"
                  />
                </a>
              </div>
            </div>
          </div>
          <!-- /. security-content -->
        </div>
      </section>

      <section class="brand-section">
        <div class="container-sm brand-container">
          <a href="/brand/dehu" class="brand-box">
            <div class="brand-logo">
              <img src="assets/images/img/Layer_1.png" alt="DEHU" />
            </div>
            <div class="brand-text">دوربین های نظارتی دههو</div>
          </a>

          <a href="/brand/utec" class="brand-box">
            <div class="brand-logo">
              <img src="assets/images/img/Isolation_Mode.png" alt="UTEC" />
            </div>
            <div class="brand-text">آداپتور و تجهیزات یوتک</div>
          </a>

          <a href="/brand/hi-link" class="brand-box">
            <div class="brand-logo">
              <img src="assets/images/img/Layer_2.png" alt="Hi-Link" />
            </div>
            <div class="brand-text">کابل و اتصالات های-لینک</div>
          </a>

          <a href="/brand/mana-service" class="brand-box">
            <div class="brand-logo">
              <img src="assets/images/img/Layer_3.png" alt="Mana Service" />
            </div>
            <div class="brand-text">خدمات گارانتی مانا سرویس</div>
          </a>
        </div>
      </section>

      <section class="container-sm offers-section">
        <div class="offers-container">
          <div class="offers-content">
            <h2>تخفیفات و امتیازات ویژه، مخصوص همکاران عزیز</h2>
            <p>
              همکار گرامی <b>در هر مقیاسی که فعالیت می‌کنید</b>، مانا الکترونیک
              جوایز و تخفیف‌های ویژه برای شما دارد. حساب خود را بسازید و امروز
              شروع کنید!
            </p>
          </div>

          <div class="offers-button">
            <a href="#" class="btn-link">
              <img
                src="assets/images/app-icons/ph_user-circle-plus-fill.svg"
                alt="Mana Service"
              />
              یک پنل همکاری بسازید
            </a>
          </div>
        </div>
      </section>

      <section class="container-sm">
        <div class="productsHome">
          <div id="sync1" class="owl-carousel">
            <div class="product-section item">
              <div class="product-container">
                <div class="product-image">
                  <img src="assets/images/img/camera2.png" alt="DEHU Camera" />
                </div>

                <div class="product-content">
                  <div class="pr-top">
                    <h3>دوربین های دیجیتال دههو</h3>
                    <h5>DEHU Digital Camera</h5>
                  </div>
                  <p>
                    دوربین های دیجیتال دههو یکی از محصولات پیشرفته و با کیفیت
                    شرکت دههو است که با استفاده از تکنولوژی‌های نوین و هوش
                    مصنوعی، امکان ارائه خدمات متنوع و مطمئن را به کاربران
                    می‌دهد. این دوربین‌ها قابلیت ثبت تصاویر رنگی در شب و تاریک
                    مطلق، تشخیص چهره و شناسایی افراد، پشتیبانی از شبکه‌های
                    بی‌سیم و سیمی، انتقال تصویر به صورت زنده و ذخیره‌سازی در ابر
                    و ... را دارند. این دوربین‌ها با استانداردهای بین‌المللی
                    سازگاری دارند و می‌توانند در محیط‌های مختلف نظارت مناسب فضای
                    باز و بسته استفاده شوند.
                  </p>
                  <p>
                    دوربین مداربسته دیجیتال دههو یک انتخاب هوشمندانه و امن برای
                    کسانی است که به دنبال یک سیستم نظارت تصویری کارآمد و مقرون
                    به صرفه هستند. مانا الکترونیک بزرگترین عرضه فروش دوربین های
                    مداربسته با برندهای مختلف از جمله برند دوربین DEHU می‌تواند
                    نیازهای شما برای امنیت و نظارت را برطرف کند.
                  </p>
                  <div class="pr-btm">
                    <a href="#" class="btn-link">
                      مشاهده دوربین‌های دیجیتال دههو
                      <img
                        src="assets/images/app-icons/si_arrow-right-fill.png"
                        alt="Link"
                        class="arrow"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /. product-section -->
            <div class="product-section item">
              <div class="product-container">
                <div class="product-image">
                  <img src="assets/images/img/camera2.png" alt="DEHU Camera" />
                </div>

                <div class="product-content">
                  <div class="pr-top">
                    <h3>دوربین های دیجیتال دههو2</h3>
                    <h5>DEHU Digital Camera</h5>
                  </div>
                  <p>
                    دوربین های دیجیتال دههو یکی از محصولات پیشرفته و با کیفیت
                    شرکت دههو است که با استفاده از تکنولوژی‌های نوین و هوش
                    مصنوعی، امکان ارائه خدمات متنوع و مطمئن را به کاربران
                    می‌دهد. این دوربین‌ها قابلیت ثبت تصاویر رنگی در شب و تاریک
                    مطلق، تشخیص چهره و شناسایی افراد، پشتیبانی از شبکه‌های
                    بی‌سیم و سیمی، انتقال تصویر به صورت زنده و ذخیره‌سازی در ابر
                    و ... را دارند. این دوربین‌ها با استانداردهای بین‌المللی
                    سازگاری دارند و می‌توانند در محیط‌های مختلف نظارت مناسب فضای
                    باز و بسته استفاده شوند.
                  </p>
                  <p>
                    دوربین مداربسته دیجیتال دههو یک انتخاب هوشمندانه و امن برای
                    کسانی است که به دنبال یک سیستم نظارت تصویری کارآمد و مقرون
                    به صرفه هستند. مانا الکترونیک بزرگترین عرضه فروش دوربین های
                    مداربسته با برندهای مختلف از جمله برند دوربین DEHU می‌تواند
                    نیازهای شما برای امنیت و نظارت را برطرف کند.
                  </p>
                  <div class="pr-btm">
                    <a href="#" class="btn-link">
                      مشاهده دوربین‌های دیجیتال دههو
                      <img
                        src="assets/images/app-icons/si_arrow-right-fill.png"
                        alt="Link"
                        class="arrow"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /. product-section -->
            <div class="product-section item">
              <div class="container-sm product-container">
                <div class="product-image">
                  <img src="assets/images/img/camera2.png" alt="DEHU Camera" />
                </div>

                <div class="product-content">
                  <div class="pr-top">
                    <h3>دوربین های دیجیتال دههو3</h3>
                    <h5>DEHU Digital Camera</h5>
                  </div>
                  <p>
                    دوربین های دیجیتال دههو یکی از محصولات پیشرفته و با کیفیت
                    شرکت دههو است که با استفاده از تکنولوژی‌های نوین و هوش
                    مصنوعی، امکان ارائه خدمات متنوع و مطمئن را به کاربران
                    می‌دهد. این دوربین‌ها قابلیت ثبت تصاویر رنگی در شب و تاریک
                    مطلق، تشخیص چهره و شناسایی افراد، پشتیبانی از شبکه‌های
                    بی‌سیم و سیمی، انتقال تصویر به صورت زنده و ذخیره‌سازی در ابر
                    و ... را دارند. این دوربین‌ها با استانداردهای بین‌المللی
                    سازگاری دارند و می‌توانند در محیط‌های مختلف نظارت مناسب فضای
                    باز و بسته استفاده شوند.
                  </p>
                  <p>
                    دوربین مداربسته دیجیتال دههو یک انتخاب هوشمندانه و امن برای
                    کسانی است که به دنبال یک سیستم نظارت تصویری کارآمد و مقرون
                    به صرفه هستند. مانا الکترونیک بزرگترین عرضه فروش دوربین های
                    مداربسته با برندهای مختلف از جمله برند دوربین DEHU می‌تواند
                    نیازهای شما برای امنیت و نظارت را برطرف کند.
                  </p>
                  <div class="pr-btm">
                    <a href="#" class="btn-link">
                      مشاهده دوربین‌های دیجیتال دههو
                      <img
                        src="assets/images/app-icons/si_arrow-right-fill.png"
                        alt="Link"
                        class="arrow"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /. product-section -->
            <div class="product-section item">
              <div class="container-sm product-container">
                <div class="product-image">
                  <img src="assets/images/img/camera2.png" alt="DEHU Camera" />
                </div>

                <div class="product-content">
                  <div class="pr-top">
                    <h3>دوربین های دیجیتال دههو4</h3>
                    <h5>DEHU Digital Camera</h5>
                  </div>
                  <p>
                    دوربین های دیجیتال دههو یکی از محصولات پیشرفته و با کیفیت
                    شرکت دههو است که با استفاده از تکنولوژی‌های نوین و هوش
                    مصنوعی، امکان ارائه خدمات متنوع و مطمئن را به کاربران
                    می‌دهد. این دوربین‌ها قابلیت ثبت تصاویر رنگی در شب و تاریک
                    مطلق، تشخیص چهره و شناسایی افراد، پشتیبانی از شبکه‌های
                    بی‌سیم و سیمی، انتقال تصویر به صورت زنده و ذخیره‌سازی در ابر
                    و ... را دارند. این دوربین‌ها با استانداردهای بین‌المللی
                    سازگاری دارند و می‌توانند در محیط‌های مختلف نظارت مناسب فضای
                    باز و بسته استفاده شوند.
                  </p>
                  <p>
                    دوربین مداربسته دیجیتال دههو یک انتخاب هوشمندانه و امن برای
                    کسانی است که به دنبال یک سیستم نظارت تصویری کارآمد و مقرون
                    به صرفه هستند. مانا الکترونیک بزرگترین عرضه فروش دوربین های
                    مداربسته با برندهای مختلف از جمله برند دوربین DEHU می‌تواند
                    نیازهای شما برای امنیت و نظارت را برطرف کند.
                  </p>
                  <div class="pr-btm">
                    <a href="#" class="btn-link">
                      مشاهده دوربین‌های دیجیتال دههو
                      <img
                        src="assets/images/app-icons/si_arrow-right-fill.png"
                        alt="Link"
                        class="arrow"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /. product-section -->
          </div>
          <!-- /# sync1 -->

          <div id="sync2" class="owl-carousel owl-theme">
            <div class="product-box item">
              <div class="product-image">
                <img
                  src="assets/images/img/camera2.png"
                  alt="DEHU Analog Camera"
                />
              </div>
              <div class="product-content">
                <p class="title">دوربین های امنیتی آنالوگ دههو</p>
                <p>DEHU Analog Security Camera</p>
              </div>
            </div>
            <!-- /. product-box -->
            <div class="product-box item">
              <div class="product-image">
                <img
                  src="assets/images/img/camera2.png"
                  alt="DEHU Analog Camera"
                />
              </div>
              <div class="product-content">
                <p class="title">دوربین های امنیتی آنالوگ دههو2</p>
                <p>DEHU Analog Security Camera</p>
              </div>
            </div>
            <!-- /. product-box -->
            <div class="product-box item">
              <div class="product-image">
                <img
                  src="assets/images/img/camera2.png"
                  alt="DEHU Analog Camera"
                />
              </div>
              <div class="product-content">
                <p class="title">دوربین های امنیتی آنالوگ دههو3</p>
                <p>DEHU Analog Security Camera</p>
              </div>
            </div>
            <!-- /. product-box -->
            <div class="product-box item">
              <div class="product-image">
                <img
                  src="assets/images/img/camera2.png"
                  alt="DEHU Analog Camera"
                />
              </div>
              <div class="product-content">
                <p class="title">دوربین های امنیتی آنالوگ دههو4</p>
                <p>DEHU Analog Security Camera</p>
              </div>
            </div>
            <!-- /. product-box -->
          </div>
          <!-- /# sync2 -->
        </div>
      </section>

      <section class="about-section">
        <div class="container-sm about-container">
          <div class="about-box green">
            <h3>عرضه محصولات برندهای معتبر جهانی</h3>
            <p>
              تیمی متخصص برای عرضه محصولات (تجهیزات امنیت و نظارت تصویری)
              شبانه‌روز آماده ارائه خدمات می‌باشد.
            </p>
            <br />
            <p class="text-left mb0">
              <a href="#" class="btn-link">
                ادامه
                <img
                  src="assets/images/app-icons/si_arrow-right-fill.png"
                  alt="Link"
                  class="arrow"
                />
              </a>
            </p>
          </div>

          <div class="about-box white">
            <h3>درباره مانا الکترونیک</h3>
            <p>
              تیمی متخصص برای عرضه محصولات (تجهیزات امنیت و نظارت تصویری)
              شبانه‌روز آماده ارائه خدمات می‌باشد.
            </p>
            <br />
            <p class="text-left mb0">
              <a href="#" class="btn-link">
                ادامه
                <img
                  src="assets/images/app-icons/si_arrow-right-fill2.png"
                  alt="Link"
                  class="arrow"
                />
              </a>
            </p>
          </div>
        </div>
      </section>

      <section class="mana-about">
        <div class="container-sm about-container">
          <div class="logo-title">
            <div class="fa-title">
              <img
                src="assets/images/logo/1.svg"
                alt="Icon"
                class="represent-icon"
              />
              <h3 class="title">درباره شرکت مانا الکترونیک</h3>
            </div>
            <div class="en-title">
              <img
                src="assets/images/logo/2.svg"
                alt="Icon"
                class="represent-icon"
              />
              <span class="title">About Mana Electronic Company</span>
            </div>
          </div>

          <div class="about-text">
            <p>
              دوربین های دیجیتال دهو یکی از محصولات پیشرفته و با کیفیت شرکت دهو
              است که با استفاده از تکنولوژی‌های نوین و هوش مصنوعی، امکان ارائه
              خدمات متنوع و مفیدی را به کاربران می‌دهد. این دوربین‌ها قابلیت ثبت
              تصاویر رنگی در شب و تاریکی مطلق، تشخیص چهره و شمارش افراد، زوم
              اپتیکال و دیجیتال، پشتیبانی از شبکه‌های بی‌سیم و سیمی، انتقال
              تصویر به صورت زنده و ذخیره‌سازی در ابر و… را دارند. این دوربین‌ها
              با استانداردهای بین‌المللی سازگاری دارند و می‌توانند در محیط‌های
              مختلف نظیر منازل، فضای باز، محیط‌های تجاری و صنعتی نصب و استفاده
              شوند. دوربین مداربسته دیجیتالی دهو یک انتخاب هوشمندانه و امن برای
              کسانی است که به دنبال داشتن یک سیستم نظارت تصویری کارآمد و مقرون
              به صرفه هستند مانا الکترونیک بزرگترین عمده فروش دوربین های
              مداربسته با برندهای مختلف از جلمه برند دوربین DEHU میتواند نیازهای
              شما برای امنیت و نظارت را برطرف خیالتان از مشکلات پیش رو را راحتر
              کنید.
            </p>
          </div>

          <div class="about-btn text-left">
            <a href="#" class="btn-link"
              >درباره ما
              <img
                src="assets/images/app-icons/si_arrow-right-fill.png"
                alt="Icon"
                class="represent-icon"
            /></a>
          </div>
        </div>
      </section>

      <section class="brands-section">
        <div class="container-sm brands-grid">
          <!-- Box 2 -->
          <div class="brand-box">
            <div class="brand-header">
              <img src="assets/images/img/Layer_1.png" alt="DEHU" />
              <div>
                <h3 class="red">دوربین های نظارتی دههو</h3>
                <p class="en">DEHU Security Cameras</p>
              </div>
            </div>
            <p class="brand-desc">
              دوربین های <strong>دیجیتال دههو</strong> یکی از محصولات پیشرفته و
              با کیفیت <strong>شرکت دههو</strong> است که با استفاده از
              تکنولوژی‌های نوین و هوش مصنوعی، امکان ارائه خدمات متنوع و مفیدی را
              به کاربران می‌دهد...
            </p>
            <a href="#" class="btn-link red-btn"
              >درباره دههو
              <img
                src="assets/images/app-icons/si_arrow-right-fill.png"
                alt="Icon"
                class="represent-icon"
            /></a>
          </div>

          <!-- Box 1 -->
          <div class="brand-box">
            <div class="brand-header">
              <img src="assets/images/img/Layer_2.png" alt="Hi-Link" />
              <div>
                <h3 class="green">آداپتور و تجهیزات یوتک</h3>
                <p class="en">DEHU Security Cameras</p>
              </div>
            </div>
            <p class="brand-desc">
              دوربین های <strong>دیجیتال دههو</strong> یکی از محصولات پیشرفته و
              با کیفیت <strong>شرکت دههو</strong> است که با استفاده از
              تکنولوژی‌های نوین و هوش مصنوعی، امکان ارائه خدمات متنوع و مفیدی را
              به کاربران می‌دهد...
            </p>
            <a href="#" class="btn-link green-btn"
              >درباره یوتک
              <img
                src="assets/images/app-icons/si_arrow-right-fill.png"
                alt="Icon"
                class="represent-icon"
            /></a>
          </div>

          <!-- Box 4 -->
          <div class="brand-box">
            <div class="brand-header">
              <img src="assets/images/img/Isolation_Mode.png" alt="UTEC" />
              <div>
                <h3 class="blue">کابل و اتصالات های-لینک</h3>
                <p class="en">DEHU Security Cameras</p>
              </div>
            </div>
            <p class="brand-desc">
              دوربین های <strong>دیجیتال دههو</strong> یکی از محصولات پیشرفته و
              با کیفیت <strong>شرکت دههو</strong> است که با استفاده از
              تکنولوژی‌های نوین و هوش مصنوعی، امکان ارائه خدمات متنوع و مفیدی را
              به کاربران می‌دهد...
            </p>
            <a href="#" class="btn-link blue-btn"
              >درباره های‌لینک
              <img
                src="assets/images/app-icons/si_arrow-right-fill.png"
                alt="Icon"
                class="represent-icon"
            /></a>
          </div>

          <!-- Box 3 -->
          <div class="brand-box">
            <div class="brand-header">
              <img src="assets/images/img/Layer_3.png" alt="Mana Service" />
              <div>
                <h3 class="gray">خدمات گارانتی مانا سرویس</h3>
                <p class="en">DEHU Security Cameras</p>
              </div>
            </div>
            <p class="brand-desc">
              دوربین های <strong>دیجیتال دههو</strong> یکی از محصولات پیشرفته و
              با کیفیت <strong>شرکت دههو</strong> است که با استفاده از
              تکنولوژی‌های نوین و هوش مصنوعی، امکان ارائه خدمات متنوع و مفیدی را
              به کاربران می‌دهد...
            </p>
            <a href="#" class="btn-link gray-btn"
              >درباره مانا سرویس
              <img
                src="assets/images/app-icons/si_arrow-right-fill.png"
                alt="Icon"
                class="represent-icon"
            /></a>
          </div>
        </div>
      </section>

      <section class="testimonial container-sm">
        <div class="right">
          <h4 class="title">دیدگاه مشتریان عزیز ما</h4>
          <p>
            رسالت مانا الکترونیک همواره بر روی رضایت مشتریان و همکاران گرامی
            است، محصولات و خدمات ما بازتاب همان اندیش‌ است
          </p>
        </div>
        <!-- /. right -->
        <div class="left">
          <div id="sync3" class="owl-carousel owl-theme">
            <div class="testimonial-box">
              <div class="testimonial-header-out">
                <div class="testimonial-header">
                  <img
                    src="assets/images/app-icons/tabler_quote-filled.png"
                    alt="Mana Service"
                  />
                  <span class="author">سیاوش بیدگانی</span>
                </div>
                <div class="testimonial-job">
                  مدیر عامل شرکت امنیت گستران بیدگان
                </div>
              </div>
              <p>
                دوربین های <strong>دیجیتال دههو</strong> یکی از محصولات پیشرفته
                و با کیفیت <strong>شرکت دههو</strong> است که با استفاده از
                تکنولوژی‌های نوین و هوش مصنوعی، امکان ارائه خدمات متنوع و مفیدی
                را به کاربران می‌دهد.
              </p>
            </div>
            <!-- /. testimonial-box -->
            <div class="testimonial-box">
              <div class="testimonial-header-out">
                <div class="testimonial-header">
                  <img
                    src="assets/images/app-icons/tabler_quote-filled.png"
                    alt="Mana Service"
                  />
                  <span class="author">سیاوش بیدگانی2</span>
                </div>
                <div class="testimonial-job">
                  مدیر عامل شرکت امنیت گستران بیدگان
                </div>
              </div>
              <p>
                دوربین های <strong>دیجیتال دههو</strong> یکی از محصولات پیشرفته
                و با کیفیت <strong>شرکت دههو</strong> است که با استفاده از
                تکنولوژی‌های نوین و هوش مصنوعی، امکان ارائه خدمات متنوع و مفیدی
                را به کاربران می‌دهد.
              </p>
            </div>
            <!-- /. testimonial-box -->
            <div class="testimonial-box">
              <div class="testimonial-header-out">
                <div class="testimonial-header">
                  <img
                    src="assets/images/app-icons/tabler_quote-filled.png"
                    alt="Mana Service"
                  />
                  <span class="author">سیاوش بیدگانی3</span>
                </div>
                <div class="testimonial-job">
                  مدیر عامل شرکت امنیت گستران بیدگان
                </div>
              </div>
              <p>
                دوربین های <strong>دیجیتال دههو</strong> یکی از محصولات پیشرفته
                و با کیفیت <strong>شرکت دههو</strong> است که با استفاده از
                تکنولوژی‌های نوین و هوش مصنوعی، امکان ارائه خدمات متنوع و مفیدی
                را به کاربران می‌دهد.
              </p>
            </div>
            <!-- /. testimonial-box -->
          </div>
          <!-- /# sync2 -->
        </div>
        <!-- /. left -->
      </section>

      <section class="brandsCircle-section">
        <div class="container-sm brandsCircle-container">
          <div class="brandsCircle-info">
            <h3>برند ها و همکاران مانا الکترونیک</h3>
            <p>
              ما در مسیر توسعه، افتخار همکاری با شرکت ها و برندهای معتبر ایرانی
              و خارجی را داریم که همواره دلگرم کننده ادامه راه ما بوده‌اند.
            </p>
          </div>

          <div class="brandsCircle-logos">
            <div class="brand-logo">
              <img src="assets/images/img/DEHU.png" alt="UTEC" />
            </div>
            <div class="brand-logo">
              <img src="assets/images/img/Hi-Link.png" alt="UTEC" />
            </div>
            <div class="brand-logo">
              <img src="assets/images/img/image.png" alt="UTEC" />
            </div>
            <div class="brand-logo">
              <img src="assets/images/img/Festival.png" alt="UTEC" />
            </div>
            <div class="brand-logo blue">
              <img src="assets/images/img/Group.png" alt="UTEC" />
            </div>
            <div class="brand-logo">
              <img src="assets/images/img/CamBox.png" alt="UTEC" />
            </div>
            <div class="brand-logo">
              <img src="assets/images/img/UTEC copy.png" alt="UTEC" />
            </div>
            <div class="brand-logo">
              <img src="assets/images/img/Mana copy.png" alt="UTEC" />
            </div>
            <div class="brand-logo">
              <img src="assets/images/img/Poliran.png" alt="UTEC" />
            </div>
            <div class="brand-logo">
              <img src="assets/images/img/UTEC.png" alt="UTEC" />
            </div>
          </div>
        </div>
      </section>

      <footer class="footer-section">
        <div class="container-sm footer-container">
          <div class="left">
            <div class="offers-container">
              <div class="offers-content">
                <h2>تخفیفات و امتیازات ویژه، مخصوص همکاران عزیز</h2>
                <p>
                  همکار گرامی <b>در هر مقیاسی که فعالیت می&zwnj;کنید</b>، مانا
                  الکترونیک جوایز و تخفیف&zwnj;های ویژه برای شما دارد. حساب خود
                  را بسازید و امروز شروع کنید!
                </p>
              </div>

              <div class="offers-button">
                <a href="#" class="btn-link">
                  <img
                    src="assets/images/app-icons/ph_user-circle-plus-fill.svg"
                    alt="Mana Service"
                  />
                  یک پنل همکاری بسازید
                </a>
              </div>
            </div>

            <div class="left-nner">
              <!-- right -->
              <div class="footer-left">
                <div class="links-col">
                  <h4>برند ها</h4>
                  <ul>
                    <li>
                      <a href="#">دوربین دههو</a>
                    </li>
                    <li>
                      <a href="#">دوربین دههو</a>
                    </li>
                    <li>
                      <a href="#">دوربین دههو</a>
                    </li>
                    <li>
                      <a href="#">دوربین دههو</a>
                    </li>
                    <li>
                      <a href="#">دوربین دههو</a>
                    </li>
                    <li>
                      <a href="#">دوربین دههو</a>
                    </li>
                    <li>
                      <a href="#">دوربین دههو</a>
                    </li>
                    <li>
                      <a href="#">دوربین دههو</a>
                    </li>
                  </ul>
                </div>

                <div class="links-col">
                  <h4>دسترسی کاربری</h4>
                  <ul>
                    <li>
                      <a href="#">ورود به حساب کاربری</a>
                    </li>
                    <li>
                      <a href="#">ثبت نام پنل همکاری</a>
                    </li>
                    <li>
                      <a href="#">امتیازات</a>
                    </li>
                    <li>
                      <a href="#">فروشگاه</a>
                    </li>
                  </ul>
                </div>

                <div class="links-col">
                  <h4>دسترسی سریع</h4>
                  <ul>
                    <li>
                      <a href="#">محصولات</a>
                    </li>
                    <li>
                      <a href="#">سوالات متداول</a>
                    </li>
                    <li>
                      <a href="#">اخبار مانا</a>
                    </li>
                    <li>
                      <a href="#">درباره ما</a>
                    </li>
                    <li>
                      <a href="#">ارتباط با ما</a>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- center -->
              <div class="footer-middle">
                <div class="contact-box">
                  <a href="#">
                    <img
                      src="assets/images/app-icons/meteor-icons_message.svg"
                      alt="Icon"
                    />
                    SMS: 30007957951415</a
                  >
                  <a href="#">
                    <img
                      src="assets/images/app-icons/cil_phone.svg"
                      alt="Icon"
                    />
                    Phone: 0444622222</a
                  >
                  <a href="#">
                    <img
                      src="assets/images/app-icons/ic_baseline-whatsapp.svg"
                      alt="Icon"
                    />
                    whatsapp: +98-912000000</a
                  >
                  <a href="#"
                    ><img
                      src="assets/images/app-icons/qlementine-icons_instagram-16.svg"
                      alt="Icon"
                    />
                    instagram: @manaelectronic</a
                  >
                </div>
              </div>
            </div>
          </div>

          <!-- left -->
          <div class="footer-right">
            <div class="logo-area">
              <img src="assets/images/logo/3.svg" alt="Mana Logo" />
              <div class="caption">
                تجهیزات امنیتی و نظارت تصویری
                <br />
                <span class="phone dirLTR"
                  ><small>021</small> <span class="color1">91300930</span></span
                >
              </div>
            </div>
            <p class="footer-desc">
              این دوربین‌ها قابلیت ثبت تصاویر رنگی در شب و تاریکی مطلق، تشخیص
              چهره و شناسایی افراد، زوم اپتیکال و دیجیتال، پشتیبانی از شبکه‌های
              بی‌سیم و سیمی، انتقال تصویر به صورت زنده و ذخیره‌سازی در ابر و...
              را دارند.
            </p>
            <div class="badges">
              <img src="assets/images/img/image5.png" alt="SSL" />
              <img src="assets/images/img/image6.png" alt="Enamad" />
              <img src="assets/images/img/image9.png" alt="Samandehi" />
            </div>
            <p class="copyright">
              کلیه حقوق مادی و معنوی برای مانا الکترونیک محفوظ است. طراحی و
              توسعه: مانا الکترونیک
            </p>
          </div>
        </div>
      </footer>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js"></script>
    <script>
      $(document).ready(function () {
        var sync1 = $("#sync1");
        var sync2 = $("#sync2");
        var sync3 = $("#sync3");
        var slidesPerPage = 3;
        var syncedSecondary = true;

        sync1
          .owlCarousel({
            items: 1,
            slideSpeed: 2000,
            nav: true,
            autoplay: false,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200,
            navText: [
              '<img src="assets/images/app-icons/fluent-emoji-high-contrast_left-arrow.svg" alt="arrow" />',
              '<img src="assets/images/app-icons/fluent-emoji-high-contrast_right-arrow.svg" alt="arrow" />',
            ],
          })
          .on("changed.owl.carousel", syncPosition);

        sync2
          .on("initialized.owl.carousel", function () {
            sync2.find(".owl-item").eq(0).addClass("current");
          })
          .owlCarousel({
            items: slidesPerPage,
            dots: false,
            nav: true,
            smartSpeed: 200,
            slideSpeed: 500,
            slideBy: slidesPerPage,
            responsiveRefreshRate: 100,
            navText: [
              '<img src="assets/images/app-icons/fluent-emoji-high-contrast_left-arrow.svg" alt="arrow" />',
              '<img src="assets/images/app-icons/fluent-emoji-high-contrast_right-arrow.svg" alt="arrow" />',
            ],
          })
          .on("changed.owl.carousel", syncPosition2);

        function syncPosition(el) {
          var count = el.item.count - 1;
          var current = Math.round(el.item.index - el.item.count / 2 - 0.5);

          if (current < 0) {
            current = count;
          }
          if (current > count) {
            current = 0;
          }

          sync2
            .find(".owl-item")
            .removeClass("current")
            .eq(current)
            .addClass("current");
          var onscreen = sync2.find(".owl-item.active").length - 1;
          var start = sync2.find(".owl-item.active").first().index();
          var end = sync2.find(".owl-item.active").last().index();

          if (current > end) {
            sync2.data("owl.carousel").to(current, 100, true);
          }
          if (current < start) {
            sync2.data("owl.carousel").to(current - onscreen, 100, true);
          }
        }

        function syncPosition2(el) {
          if (syncedSecondary) {
            var number = el.item.index;
            sync1.data("owl.carousel").to(number, 100, true);
          }
        }

        sync2.on("click", ".owl-item", function (e) {
          e.preventDefault();
          var number = $(this).index();
          sync1.data("owl.carousel").to(number, 300, true);
        });

        sync3
          .owlCarousel({
            items: 2,
            slideSpeed: 2000,
            nav: false,
            autoplay: false,
            dots: true,
            loop: true,
            responsiveRefreshRate: 200,
          })
          .on("changed.owl.carousel", syncPosition);
      });
    </script>
  </body>
</html>
